.site-list{
    list-style: none;
    &--create{
        height: 400px;
        overflow: scroll;
    }
}
.site-list__item{
    margin-bottom: 7px;
}
.css-1tak54t{
    background-color: #fff;
}
.css-q8hpuo-MuiFormControl-root{
    margin-bottom: 24px !important;
}