.sarflov {
    padding: 0 20px;

    .sarflov_inner {
        display: flex;
        align-items: center;

        .sarflov_title {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: #111111;
            margin-left: 40px;
        }
    }

    .css-sghohy-MuiButtonBase-root-MuiButton-root {
        border-radius: 12px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        background-color: #DDEBFB;
        color: #1464C0;

        &:hover {
            color: #FFFFFF;
        }
    }
}

.sent_btn {
    margin-top: 30px;
}
.sarflov_block_inner_div_title {
    margin: 0;
    margin-bottom: 20px;
}

.sarflov_block_inner_two {
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px solid #E1E1E1;
    display: flex;
    border: none;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 25px;
    width: 100%;

    .num_title {
        margin: 0;
        margin-top: 50px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #111111;
    }

    .close_arr_btn {
        margin-top: 50px;
    }

    .sarflov_block_inner_div_two {


        &:first-child {
            width: 5%;
        }

        &:nth-child(2) {
            width: 23%;
        }

        &:nth-child(3) {
            width: 11%;
        }

        &:nth-child(4) {
            width: 10%;
        }

        &:nth-child(5) {
            width: 23%;
        }

        &:nth-child(6) {
            width: 23%;
        }

        &:nth-child(7) {
            width: 5%;
        }
    }
}

.add_btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.sarflov_block_inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 25px;
    width: 100%;

    .sarflov_block_inner_div_title {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #111111;
    }

    .sarflov_block_inner_div {
        width: 23%;
        
        .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
            width: 100%;
        }
    }
}

.sarflov_block {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 25px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.sarflov_block_comment {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 25px;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 48%;
    height: 310px;

    textarea {
        width: 100%;
        height: 200px !important;
        padding: 10px;
        border:2px solid #E1E1E1;
        
    }
}

.sarflov_block_inner_div1 {
    margin-top: 40px;
 }

.sarflov_block_inner_div {
    height: 200px;
    overflow-y: scroll;
}
.sarflov_block_title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #1464C0;
    margin: 0;
    width: max-content;
}

.sarflov_comment {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.input_download {
    display: none;
}

.input_tyle_download {
    background: #F4F4F4;
border-radius: 4px;
width: 100%;
padding: 10px 40px;
// margin-top: 35px;
margin: 10px 0;
display: inline-table;
height: 10px;
position: relative;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
color: #4D4D4D;
&:hover {
    color: #1464C0;
    cursor: pointer;
}

.label_img {
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
}
}
.file_add_input {
    display: none;
}

.download_label {
    width: 100%;
    height: 200px;
    background: #F4F4F4;
border-radius: 12px;
display: block;
margin-top: 20px;
padding: 32px;
cursor: pointer;
}

.files_add_icon {
    width:30px;
    height: 30px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    display: block;
    align-items:center;
}

.files_add_title {
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
color: #4D4D4D;
}
.files_block_title {
    display: flex;
    align-items:center;
    justify-content: center;
}



.files_add_span {
    color: #1464C0;
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
margin-left: 3px;
text-align: center;
}

.sarflov_top_blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        font-size: 20px;
    }
}
// .sarflov_block_comment_inner {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin-bottom: 20px;

//     label {
//         font-style: normal;
// font-weight: 600;
// font-size: 16px;
// line-height: 24px;
// padding: 8px 16px 8px 40px;
// background: #DDEBFB;
// border-radius: 12px;
// cursor: pointer;
// color: #1464C0;
// position: relative;

// .scrip_file {
//     position: absolute;
//     top: 0;
//     bottom:0;
//     left: 10px;
//     margin: auto;
// }
//     }
// }

.close_file {
    position: absolute;
    right: -20px;
    top: 4px;
    bottom:0;
    margin: auto;
    color:#4D4D4D;
}
.sarflov_block_inner_two::after{
    content: "";
    position: absolute;
    bottom: 0;
    border: 1px solid #E1E1E1;
    margin-top: 120px !important;
    width: 100%;
    margin-bottom: -25px;
}